body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d4d3d3;
    color: #030000;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    background: rgb(163, 158, 158);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(136, 87, 87, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input, button {
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    border: 2px solid #0a0707;
    border-radius: 4px;
  }
  
  button {
    background-color: #0f0d85;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2f2cc9;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    background: #faf9f9;
    border-radius: 4px;
  }
  
  li button {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
